<div>
    <h2>введи запрос и найдешь репозитории на gh</h2>

    <form [formGroup]='searchForm'>
        <input formControlName='request' class='github-input'>
    </form>

    <div @opacityChangeAnimation *ngIf='state.isLoading' class='preloader__container'>
        <div class='preloader'></div>
    </div>
    <p @opacityChangeAnimation *ngIf='state.noticeMessage'>{{state.noticeMessage | name}}</p>
    
    <div class='result-container'>
        <app-repo-card @opacityChangeAnimation *ngFor='let repo of state.repositories | sortByStars' [repo]='repo'></app-repo-card>
    </div>
    
</div>
